In [1]:
pip install --upgrade "ipython-sql==0.5.0" "sqlalchemy==2.0.32" "duckdb==1.1.3" "duckdb-engine==0.13.6"

Requirement already satisfied: ipython-sql==0.5.0 in ./.venv/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: sqlalchemy==2.0.32 in ./.venv/lib/python3.12/site-packages (2.0.32)
Requirement already satisfied: duckdb==1.1.3 in ./.venv/lib/python3.12/site-packages (1.1.3)
Requirement already satisfied: duckdb-engine==0.13.6 in ./.venv/lib/python3.12/site-packages (0.13.6)
Requirement already satisfied: prettytable in ./.venv/lib/python3.12/site-packages (from ipython-sql==0.5.0) (3.16.0)
Requirement already satisfied: ipython in ./.venv/lib/python3.12/site-packages (from ipython-sql==0.5.0) (9.6.0)
Requirement already satisfied: sqlparse in ./.venv/lib/python3.12/site-packages (from ipython-sql==0.5.0) (0.5.3)
Requirement already satisfied: six in ./.venv/lib/python3.12/site-packages (from ipython-sql==0.5.0) (1.17.0)
Requirement already satisfied: ipython-genutils in ./.venv/lib/python3.12/site-packages (from ipython-sql==0.5.0) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in ./.venv/lib/python3.12/site-packages (from sqlalchemy==2.0.32) (4.15.0)
Requirement already satisfied: packaging>=21 in ./.venv/lib/python3.12/site-packages (from duckdb-engine==0.13.6) (25.0)
Requirement already satisfied: decorator in ./.venv/lib/python3.12/site-packages (from ipython->ipython-sql==0.5.0) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in ./.venv/lib/python3.12/site-packages (from ipython->ipython-sql==0.5.0) (1.1.1)
Requirement already satisfied: jedi>=0.16 in ./.venv/lib/python3.12/site-packages (from ipython->ipython-sql==0.5.0) (0.19.2)
Requirement already satisfied: matplotlib-inline in ./.venv/lib/python3.12/site-packages (from ipython->ipython-sql==0.5.0) (0.1.7)
Requirement already satisfied: pexpect>4.3 in ./.venv/lib/python3.12/site-packages (from ipython->ipython-sql==0.5.0) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in ./.venv/lib/python3.12/site-packages (from ipython->ipython-sql==0.5.0) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in ./.venv/lib/python3.12/site-packages (from ipython->ipython-sql==0.5.0) (2.19.2)
Requirement already satisfied: stack_data in ./.venv/lib/python3.12/site-packages (from ipython->ipython-sql==0.5.0) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in ./.venv/lib/python3.12/site-packages (from ipython->ipython-sql==0.5.0) (5.14.3)
Requirement already satisfied: wcwidth in ./.venv/lib/python3.12/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql==0.5.0) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in ./.venv/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql==0.5.0) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in ./.venv/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql==0.5.0) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in ./.venv/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql==0.5.0) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in ./.venv/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql==0.5.0) (3.0.0)
Requirement already satisfied: pure-eval in ./.venv/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql==0.5.0) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

In [31]:
import duckdb
from IPython.core.magic import register_cell_magic

# single shared connection (file-backed so you keep results between cells)
con = duckdb.connect("warehouse/plt.duckdb")


@register_cell_magic
def ducksql(line, cell):
    """Run DuckDB SQL in a cell with %%ducksql"""
    res = con.sql(cell)
    try:
        display(res.df())  # pretty display if it's a query
    except Exception:
        print("OK")  # for DDL/DML statements

In [32]:
%%ducksql
CREATE OR REPLACE TABLE raw_pl AS
SELECT * FROM 'dbt/seeds/premier-league.csv';

OK

In [33]:

%%ducksql
SELECT
    SUM(CASE WHEN club_name IS NULL THEN 1 ELSE 0 END)          AS nulls_club_name,
    SUM(CASE WHEN player_name IS NULL THEN 1 ELSE 0 END)        AS nulls_player_name,
    SUM(CASE WHEN age IS NULL THEN 1 ELSE 0 END)                AS nulls_age,
    SUM(CASE WHEN position IS NULL THEN 1 ELSE 0 END)           AS nulls_position,
    SUM(CASE WHEN club_involved_name IS NULL THEN 1 ELSE 0 END) AS nulls_club_involved_name,
    SUM(CASE WHEN fee IS NULL THEN 1 ELSE 0 END)                AS nulls_fee,
    SUM(CASE WHEN transfer_movement IS NULL THEN 1 ELSE 0 END)  AS nulls_transfer_movement,
    SUM(CASE WHEN transfer_period IS NULL THEN 1 ELSE 0 END)    AS nulls_transfer_period,
    SUM(CASE WHEN fee_cleaned IS NULL THEN 1 ELSE 0 END)        AS nulls_fee_cleaned,
    SUM(CASE WHEN league_name IS NULL THEN 1 ELSE 0 END)        AS nulls_league_name,
    SUM(CASE WHEN year IS NULL THEN 1 ELSE 0 END)               AS nulls_year,
    SUM(CASE WHEN season IS NULL THEN 1 ELSE 0 END)             AS nulls_season
FROM raw_pl;

,nulls_club_name,nulls_player_name,nulls_age,nulls_position,nulls_club_involved_name,nulls_fee,nulls_transfer_movement,nulls_transfer_period,nulls_fee_cleaned,nulls_league_name,nulls_year,nulls_season
0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
%%ducksql
SELECT fee, hex(fee)
FROM raw_pl
LIMIT 20;

                        fee                                        hex(fee)
0                   €910Th.                              E282AC39313054682E
1                   €250Th.                              E282AC32353054682E
2                         ?                                              3F
3                         -                                              2D
4                         -                                              2D
5                    €2.00m                                E282AC322E30306D
6             loan transfer                      6C6F616E207472616E73666572
7                         ?                                              3F
8                         ?                                              3F
9                         ?                                              3F
10  End of loanMay 31, 1993  456E64206F66206C6F616E4D61792033312C2031393933
11                   €1.00m                                E282AC312E30306D
12            free transfer                      66726565207472616E73666572
13            free transfer                      66726565207472616E73666572
14                        -                                              2D
15                        -                                              2D
16  End of loanMay 31, 1993  456E64206F66206C6F616E4D61792033312C2031393933
17                  €750Th.                              E282AC37353054682E
18                  €378Th.                              E282AC33373854682E
19            free transfer                      66726565207472616E73666572