In [32]:
from pathlib import Path

import duckdb
import pandas as pd
from IPython.core.magic import register_cell_magic

"""
#------------------ ## OBJECTIVES ## ------------------#
 - To Do:
    - parse fee to "transfer_type"
    - find way to parse "position", "nationality", "market value", "club_involved_name", "club_involved_country"
    - find unique values for "club_name", "player_name", "nationality", "position", "club_involved_name", "club_involved_country"
"""
pd.set_option("display.max_rows", 20)  # show all rows
pd.set_option("display.max_columns", None)  # show all columns
pd.set_option("display.max_colwidth", None)  # don't truncate text
pd.set_option("display.expand_frame_repr", False)  # don't wrap across lines


# 1) Where to store the DuckDB database file (change if you want it elsewhere)
DB_PATH = Path("./plt.duckdb")
DB_PATH.parent.mkdir(parents=True, exist_ok=True)
# print(DB_PATH)
con = duckdb.connect(str(DB_PATH))


@register_cell_magic
def ducksql(line, cell):
    res = con.sql(cell)
    try:
        display(res.df())
    except Exception:
        print("OK")

In [33]:
%%ducksql
CREATE SCHEMA IF NOT EXISTS staging;

-- 2) Point directly at your file (absolute path)
CREATE OR REPLACE VIEW staging.transfers_all AS
SELECT *
FROM read_csv_auto('/Users/mohammed/repos/GreatLockIn2025/dbt_projects/dbt_football_project/DBT_PFL_Statistics/dbt/seeds/FPL_Transfers_23_24.csv', HEADER=TRUE);

SELECT * FROM staging.transfers_all LIMIT 50;

      club_name     player_name  Age          Nationality            position Market value   club_involved_name club_involved_name_country                     Fee transfer_movement transfer_type transfer_period  year     Season
0       Arsenal     Declan Rice   24      England Ireland    Central Midfield      €90.00m      West Ham United           England West Ham                €116.60m           Inbound      Transfer          Summer  2023  2023/2024
1       Arsenal     Kai Havertz   24              Germany      Centre-Forward      €55.00m           Chelsea FC            England Chelsea                 €75.00m           Inbound      Transfer          Summer  2023  2023/2024
2       Arsenal  Jurriën Timber   22  Netherlands Curacao          Right-Back      €42.00m       Ajax Amsterdam           Netherlands Ajax                 €40.00m           Inbound      Transfer          Summer  2023  2023/2024
3       Arsenal      David Raya   27                Spain          Goalkeeper      €30.00m         Brentford FC          England Brentford        Loan fee: €3.50m           Inbound          Loan          Summer  2023  2023/2024
4       Arsenal    Nuno Tavares   23  Portugal Cape Verde           Left-Back      €18.00m  Olympique Marseille           France Marseille  End of loan 30.06.2023           Inbound          Loan          Summer  2023  2023/2024
..          ...             ...  ...                  ...                 ...          ...                  ...                        ...                     ...               ...           ...             ...   ...        ...
45  Aston Villa   Morgan Sanson   28               France    Central Midfield       €6.00m             OGC Nice                France Nice           loan transfer          Outbound          Loan          Summer  2023  2023/2024
46  Aston Villa       Jed Steer   30     England Scotland          Goalkeeper        €500k         Without Club               Without Club                       -          Outbound      Transfer          Summer  2023  2023/2024
47  Bournemouth     Tyler Adams   24        United States  Defensive Midfield      €18.00m         Leeds United              England Leeds                 €26.90m           Inbound      Transfer          Summer  2023  2023/2024
48  Bournemouth    Hamed Traoré   23        Cote d'Ivoire         Left Winger      €22.00m          US Sassuolo             Italy Sassuolo                 €25.62m           Inbound      Transfer          Summer  2023  2023/2024
49  Bournemouth      Alex Scott   19     England Guernsey    Central Midfield      €20.00m         Bristol City       England Bristol City                 €23.00m           Inbound      Transfer          Summer  2023  2023/2024

[50 rows x 14 columns]

In [45]:
%%ducksql

/*
"""
#------------------ ## OBJECTIVES ## ------------------#
 - To Do:
    - parse fee to "transfer_type"
        - -- 2 Point directly at your file [absolute path]

                ##################
                ###### DONE ######
                ##################
                    
"""
*/

SELECT 
    fee,
    CASE
        WHEN fee IS NULL OR fee = '' THEN ''
        WHEN LOWER(fee) LIKE '%loan%' THEN 'Loan'
        ELSE 'Transfer'
    END AS transfer_type_two
FROM 
    staging.transfers_all LIMIT 50;

                       Fee transfer_type_two
0                 €116.60m          Transfer
1                  €75.00m          Transfer
2                  €40.00m          Transfer
3         Loan fee: €3.50m              Loan
4   End of loan 30.06.2023              Loan
..                     ...               ...
45           loan transfer              Loan
46                       -          Transfer
47                 €26.90m          Transfer
48                 €25.62m          Transfer
49                 €23.00m          Transfer

[50 rows x 2 columns]

In [46]:
%%ducksql

/*
"""
#------------------ ## OBJECTIVES ## ------------------#
 - To Do:
    - find unique values for "club_name", "player_name", "nationality", "position", "club_involved_name", "club_involved_country"
"""
*/

SELECT

ParserException: Parser Error: unterminated /* comment at or near "/*
"""
#------------------ ## OBJECTIVES ## ------------------#
 - To Do:
    - parse fee to "transfer_type"
    - find way to parse "position", "nationality", "market value", "club_involved_name", "club_involved_country"
    - find unique values for "club_name", "player_name", "nationality", "position", "club_involved_name", "club_involved_country"
"""
"