In [40]:
from pathlib import Path
import duckdb
from IPython.core.magic import register_cell_magic
import pandas as pd

"""
#------------------ ## OBJECTIVES ## ------------------#
 - To Do:
    - parse fee to "transfer_type"
        -  ##### DONE ######
    - translate fee to M's
        -  ##### DONE ######
        
    - find unique values for '
        - club_name'
            ##### DONE ######
        -'player_name',
            - THIS NEEDS TO BE DONE DURING STAGING CLEAN SQL QUERY SCRIPT
            ##### DONE ######
        - 'nationality',
        - 'position', 
            ####### DONE #######
        - 'club_involved_name',
        - 'club_involved_country'"
        
    - find way to parse
        - 'position', 
        - 'nationality', 
        - 'market value'
        - 'club_involved_name'
        - 'club_involved_country' 
"""
pd.set_option("display.max_rows", None)       # show all rows
pd.set_option("display.max_columns", None)    # show all columns
pd.set_option("display.max_colwidth", None)   # don't truncate text
pd.set_option("display.expand_frame_repr", False)  # don't wrap across lines


# 1) Where to store the DuckDB database file (change if you want it elsewhere)
DB_PATH = Path("./plt.duckdb")
DB_PATH.parent.mkdir(parents=True, exist_ok=True)
print(DB_PATH) 
con = duckdb.connect(str(DB_PATH))

@register_cell_magic
def ducksql(line, cell):
    try:
        rel = con.sql(cell)
        display(rel.df())
    except Exception as e:
        print("SQL error:", e)

plt.duckdb

In [41]:
%%ducksql
CREATE SCHEMA IF NOT EXISTS staging;

-- 2) Point directly at your file (absolute path)
CREATE OR REPLACE VIEW staging.transfers_all AS
SELECT *
FROM read_csv_auto('/Users/mohammed/repos/GreatLockIn2025/dbt_projects/dbt_football_project/DBT_PFL_Statistics/dbt/seeds/FPL_Transfers_23_24.csv', HEADER=TRUE);

SELECT * FROM staging.transfers_all LIMIT 50;

      club_name             player_name  Age              Nationality            position Market value    club_involved_name club_involved_name_country                     Fee transfer_movement transfer_type transfer_period  year     Season
0       Arsenal             Declan Rice   24          England Ireland    Central Midfield      €90.00m       West Ham United           England West Ham                €116.60m           Inbound      Transfer          Summer  2023  2023/2024
1       Arsenal             Kai Havertz   24                  Germany      Centre-Forward      €55.00m            Chelsea FC            England Chelsea                 €75.00m           Inbound      Transfer          Summer  2023  2023/2024
2       Arsenal          Jurriën Timber   22      Netherlands Curacao          Right-Back      €42.00m        Ajax Amsterdam           Netherlands Ajax                 €40.00m           Inbound      Transfer          Summer  2023  2023/2024
3       Arsenal              David Raya   27                    Spain          Goalkeeper      €30.00m          Brentford FC          England Brentford        Loan fee: €3.50m           Inbound          Loan          Summer  2023  2023/2024
4       Arsenal            Nuno Tavares   23      Portugal Cape Verde           Left-Back      €18.00m   Olympique Marseille           France Marseille  End of loan 30.06.2023           Inbound          Loan          Summer  2023  2023/2024
5       Arsenal           Cédric Soares   31         Portugal Germany          Right-Back       €3.00m             Fulham FC             England Fulham  End of loan 30.06.2023           Inbound          Loan          Summer  2023  2023/2024
6       Arsenal          Arthur Okonkwo   21          England Nigeria          Goalkeeper       €2.00m         SK Sturm Graz         Austria Sturm Graz  End of loan 30.06.2023           Inbound          Loan          Summer  2023  2023/2024
7       Arsenal            Nicolas Pépé   28     Cote d'Ivoire France        Right Winger      €18.00m              OGC Nice                France Nice  End of loan 30.06.2023           Inbound          Loan          Summer  2023  2023/2024
8       Arsenal    Rúnar Alex Rúnarsson   28                  Iceland          Goalkeeper       €1.50m            Alanyaspor         Türkiye Alanyaspor  End of loan 30.06.2023           Inbound          Loan          Summer  2023  2023/2024
9       Arsenal          Arthur Okonkwo   22          England Nigeria          Goalkeeper       €1.80m           Wrexham AFC            England Wrexham  End of loan 31.05.2024           Inbound          Loan          Summer  2023  2023/2024
10      Arsenal    Albert Sambi Lokonga   24         Belgium DR Congo    Central Midfield      €15.00m            Luton Town              England Luton  End of loan 31.05.2024           Inbound          Loan          Summer  2023  2023/2024
11      Arsenal              Pablo Marí   29                    Spain         Centre-Back       €5.00m              AC Monza                Italy Monza  End of loan 30.06.2023           Inbound          Loan          Summer  2023  2023/2024
12      Arsenal         Folarin Balogun   21    United States England      Centre-Forward      €30.00m           Stade Reims         France Stade Reims  End of loan 30.06.2023           Inbound          Loan          Summer  2023  2023/2024
13      Arsenal         Folarin Balogun   22    United States England      Centre-Forward      €30.00m             AS Monaco              France Monaco                 €30.00m          Outbound      Transfer          Summer  2023  2023/2024
14      Arsenal            Granit Xhaka   30              Switzerland  Defensive Midfield      €20.00m   Bayer 04 Leverkusen         Germany Leverkusen                 €15.00m          Outbound      Transfer          Summer  2023  2023/2024
15      Arsenal             Matt Turner   29  United States Lithuania          Goalkeeper       €8.00m     Nottingham Forest      England Nott'm Forest                  €8.15m          Outbound      Transfer          Summer  2023  2023/2024
16      Arsenal              Pablo Marí   29                    Spain         Centre-Back       €5.00m              AC Monza                Italy Monza                  €6.20m          Outbound      Transfer          Summer  2023  2023/2024
17      Arsenal           Auston Trusty   24            United States         Centre-Back      €10.00m      Sheffield United          England Sheff Utd                  €5.80m          Outbound      Transfer          Summer  2023  2023/2024
18      Arsenal          Kieran Tierney   26     Scotland Isle of Man           Left-Back      €25.00m         Real Sociedad        Spain Real Sociedad        Loan fee: €1.40m          Outbound          Loan          Summer  2023  2023/2024
19      Arsenal             Rob Holding   27                  England         Centre-Back       €8.00m        Crystal Palace     England Crystal Palace                  €1.20m          Outbound      Transfer          Summer  2023  2023/2024
20      Arsenal            Nuno Tavares   23      Portugal Cape Verde           Left-Back      €18.00m     Nottingham Forest      England Nott'm Forest        Loan fee: €1.15m          Outbound          Loan          Summer  2023  2023/2024
21      Arsenal              Marquinhos   20                   Brazil        Right Winger      €12.00m             FC Nantes           France FC Nantes         Loan fee: €300k          Outbound          Loan          Summer  2023  2023/2024
22      Arsenal  Ainsley Maitland-Niles   25          England Jamaica          Right-Back       €8.00m        Olympique Lyon                France Lyon           free transfer          Outbound      Transfer          Summer  2023  2023/2024
23      Arsenal            Nicolas Pépé   28     Cote d'Ivoire France        Right Winger      €18.00m           Trabzonspor        Türkiye Trabzonspor           free transfer          Outbound      Transfer          Summer  2023  2023/2024
24      Arsenal    Rúnar Alex Rúnarsson   28                  Iceland          Goalkeeper       €1.50m          Cardiff City            England Cardiff           loan transfer          Outbound          Loan          Summer  2023  2023/2024
25      Arsenal          Arthur Okonkwo   21          England Nigeria          Goalkeeper       €2.00m           Wrexham AFC            England Wrexham           loan transfer          Outbound          Loan          Summer  2023  2023/2024
26      Arsenal    Albert Sambi Lokonga   23         Belgium DR Congo    Central Midfield      €15.00m            Luton Town              England Luton           loan transfer          Outbound          Loan          Summer  2023  2023/2024
27  Aston Villa            Moussa Diaby   24              France Mali        Right Winger      €50.00m   Bayer 04 Leverkusen         Germany Leverkusen                 €55.00m           Inbound      Transfer          Summer  2023  2023/2024
28  Aston Villa              Pau Torres   26                    Spain         Centre-Back      €45.00m         Villarreal CF           Spain Villarreal                 €33.00m           Inbound      Transfer          Summer  2023  2023/2024
29  Aston Villa          Nicolò Zaniolo   24                    Italy  Attacking Midfield      €27.00m           Galatasaray        Türkiye Galatasaray        Loan fee: €5.00m           Inbound          Loan          Summer  2023  2023/2024
30  Aston Villa         Youri Tielemans   26         Belgium DR Congo    Central Midfield      €25.00m        Leicester City          England Leicester           free transfer           Inbound      Transfer          Summer  2023  2023/2024
31  Aston Villa         Filip Marschall   20           England Poland          Goalkeeper            -       Aston Villa U21    England Aston Villa U21                       -           Inbound      Transfer          Summer  2023  2023/2024
32  Aston Villa         Clément Lenglet   28                   France         Centre-Back      €10.00m          FC Barcelona            Spain Barcelona           loan transfer           Inbound          Loan          Summer  2023  2023/2024
33  Aston Villa        Viljami Sinisalo   22                  Finland          Goalkeeper        €600k           Exeter City        England Exeter City  End of loan 31.05.2024           Inbound          Loan          Summer  2023  2023/2024
34  Aston Villa           Morgan Sanson   28                   France    Central Midfield       €6.00m  RC Strasbourg Alsace       France R. Strasbourg  End of loan 30.06.2023           Inbound          Loan          Summer  2023  2023/2024
35  Aston Villa         Filip Marschall   21           England Poland          Goalkeeper        €800k    Milton Keynes Dons            England MK Dons  End of loan 31.05.2024           Inbound          Loan          Summer  2023  2023/2024
36  Aston Villa           Wesley Moraes   26                   Brazil      Centre-Forward       €3.00m            Levante UD              Spain Levante  End of loan 30.06.2023           Inbound          Loan          Summer  2023  2023/2024
37  Aston Villa          Cameron Archer   21          England Jamaica      Centre-Forward      €12.00m      Sheffield United          England Sheff Utd                 €21.55m          Outbound      Transfer          Summer  2023  2023/2024
38  Aston Villa         Jaden Philogene   21         England Dominica         Left Winger       €2.80m             Hull City          England Hull City                  €5.80m          Outbound      Transfer          Summer  2023  2023/2024
39  Aston Villa       Marvelous Nakamba   29                 Zimbabwe  Defensive Midfield       €4.00m            Luton Town              England Luton                  €2.90m          Outbound      Transfer          Summer  2023  2023/2024
40  Aston Villa            Keinan Davis   25          England Jamaica      Centre-Forward       €3.00m        Udinese Calcio              Italy Udinese                  €2.30m          Outbound      Transfer          Summer  2023  2023/2024
41  Aston Villa            Ashley Young   38          England Jamaica          Right-Back        €600k            Everton FC            England Everton           free transfer          Outbound      Transfer          Summer  2023  2023/2024
42  Aston Villa           Wesley Moraes   26                   Brazil      Centre-Forward       €3.00m            Stoke City         England Stoke City           free transfer          Outbound      Transfer          Summer  2023  2023/2024
43  Aston Villa       Philippe Coutinho   31          Brazil Portugal  Attacking Midfield      €10.00m          Al-Duhail SC         Qatar Al-Duhail SC           loan transfer          Outbound          Loan          Summer  2023  2023/2024
44  Aston Villa        Viljami Sinisalo   21                  Finland          Goalkeeper        €500k           Exeter City        England Exeter City           loan transfer          Outbound          Loan          Summer  2023  2023/2024
45  Aston Villa           Morgan Sanson   28                   France    Central Midfield       €6.00m              OGC Nice                France Nice           loan transfer          Outbound          Loan          Summer  2023  2023/2024
46  Aston Villa               Jed Steer   30         England Scotland          Goalkeeper        €500k          Without Club               Without Club                       -          Outbound      Transfer          Summer  2023  2023/2024
47  Bournemouth             Tyler Adams   24            United States  Defensive Midfield      €18.00m          Leeds United              England Leeds                 €26.90m           Inbound      Transfer          Summer  2023  2023/2024
48  Bournemouth            Hamed Traoré   23            Cote d'Ivoire         Left Winger      €22.00m           US Sassuolo             Italy Sassuolo                 €25.62m           Inbound      Transfer          Summer  2023  2023/2024
49  Bournemouth              Alex Scott   19         England Guernsey    Central Midfield      €20.00m          Bristol City       England Bristol City                 €23.00m           Inbound      Transfer          Summer  2023  2023/2024

In [53]:
%%ducksql


/*
"""
---------######## OTHER FILE ###### --------


Positions

Attacking Midfield
1	Central Midfield
2	Centre-Back
3	Centre-Forward
4	Defensive Midfield
5	Goalkeeper
6	Left Midfield
7	Left Winger
8	Left-Back
9	Right Midfield
10	Right Winger
11	Right-Back
12	Second Striker
13	attack < ====== vvvv these three are not in the other file
14	defence <
15	midfield <


	Position	Position Count
0	attack      243
1	defence	    255
2	midfield	393


"""
*/

-- 2) Point directly at your file (absolute path)
CREATE OR REPLACE VIEW staging.other_file_transfers_all AS
SELECT *
FROM read_csv_auto('/Users/mohammed/repos/GreatLockIn2025/dbt_projects/dbt_football_project/DBT_PFL_Statistics/dbt/seeds/premier-league.csv', HEADER=TRUE);

# SELECT  
#      position, COUNT(*)
# FROM 
#     staging.other_file_transfers_all 
# GROUP BY
#     Position
# ORDER BY
#     Position ASC
# WHERE Position IN ['attack','defence', 'midfield']
# LIMIT 50;bbb

SQL error: Parser Error: syntax error at or near "WHERE"

In [80]:
%%ducksql

/*
"""
~ ############### OTHER FILE  ###############~
#------------------ ## OBJECTIVES ## ------------------#
 - To Do:
    - find unique values for '
        - 'club_involved_name',
        
    - find way to parse
        - 'club_involved_name',

"""
*/

-- 1) INSERT the cleaned rows into your target table
INSERT INTO clubs (raw_club, cleaned_full_name, parent_club, abbreviation, country)
SELECT
    c.raw_club,
    c.cleaned_full_name,
    c.parent_club,
    c.abbreviation,
    c.country
FROM (

  WITH src AS (
    -- replace this table/column with your real source
    SELECT club_involved_name AS raw_club
    FROM staging.other_file_transfers_all
    WHERE club_involved_name IS NOT NULL
  ),

  -- Map common aliases/nicknames/short forms to official names (extend this!)
  club_alias_map AS (
    SELECT * FROM (VALUES
      ('MAN CITY',              'MANCHESTER CITY'),
      ('MAN UTD',               'MANCHESTER UNITED'),
      ('BOR. DORTMUND',         'BORUSSIA DORTMUND'),
      ('BOR. M''GLADBACH',      'BORUSSIA MONCHENGLADBACH'),
      ('BAYERN MUNICH',         'FC BAYERN MUNCHEN'),
      ('RM CASTILLA',           'REAL MADRID CASTILLA'),
      ('BARÇA U19',             'FC BARCELONA U19'),
      ('BARCELONA',             'FC BARCELONA'),
      ('SPURS',                 'TOTTENHAM HOTSPUR'),
      ('QPR',                   'QUEENS PARK RANGERS'),
      ('PSV EINDHOVEN',         'PSV'),
      ('AJAX',                  'AFC AJAX')
    ) AS t(alias_raw, official_name)
  ),

  -- Country mapping (seed a few; grow this over time)
  club_country_map AS (
    SELECT * FROM (VALUES
      ('MANCHESTER CITY',       'England'),
      ('MANCHESTER UNITED',     'England'),
      ('TOTTENHAM HOTSPUR',     'England'),
      ('QUEENS PARK RANGERS',   'England'),
      ('AFC AJAX',              'Netherlands'),
      ('PSV',                   'Netherlands'),
      ('FC BARCELONA',          'Spain'),
      ('REAL MADRID',           'Spain'),
      ('REAL MADRID CASTILLA',  'Spain'),
      ('BORUSSIA DORTMUND',     'Germany'),
      ('BORUSSIA MONCHENGLADBACH','Germany'),
      ('FC BAYERN MUNCHEN',     'Germany')
    ) AS t(cleaned_full_name, country)
  ),

  -- 2) Normalize raw: UPPER+TRIM, strip punctuation variants for matching
  norm AS (
    SELECT
      raw_club,
      UPPER(TRIM(raw_club))                           AS up_raw,
      -- unify a few common punctuation bits for alias matching
      UPPER(TRIM(REGEXP_REPLACE(raw_club, '[.’''’]', '')))
        AS up_nopunct
    FROM src
  ),

  -- 3) Compute the senior/base club name by removing youth/reserve markers
  base_name AS (
    SELECT
      raw_club,
      -- remove youth/reserve patterns
      TRIM(
        REGEXP_REPLACE(
          REGEXP_REPLACE(
            REGEXP_REPLACE(
              REGEXP_REPLACE(
                REGEXP_REPLACE(
                  up_raw,
                  -- drop Uxx squads
                  '\bU(16|17|18|19|20|21|22|23)\b', ''
                ),
                -- drop reserve/second team markers
                '\b(RES(\.|ERVES)?|B|II|A(?:CADEMY|CA)|YOUTH)\b', ''
              ),
              -- collapse duplicate spaces
              '\s+', ' '
            ),
            -- tidy leftover trailing/leading dangles
            '(^\s+|\s+$)', ''
          ),
          -- also tidy some " CF B", " FC U19" style seams
          '\s+(CF|FC|SC)\s*$', '\1'
        )
      ) AS base_up
    FROM norm
  ),

  -- 4) Resolve aliases on the base name (so “MAN UTD U21” collapses to “MANCHESTER UNITED”)
  resolved AS (
    SELECT
      n.raw_club,
      COALESCE(a.official_name, b.base_up) AS cleaned_full_name_up,
      -- is this a youth/reserve row?
      CASE
        WHEN n.up_raw ~ '\bU(16|17|18|19|20|21|22|23)\b' THEN TRUE
        WHEN n.up_raw ~ '\b(RES(\.|ERVES)?|B|II|A(?:CADEMY|CA)|YOUTH)\b' THEN TRUE
        ELSE FALSE
      END AS is_youth_or_res
    FROM norm n
    JOIN base_name b ON b.raw_club = n.raw_club
    LEFT JOIN club_alias_map a
      ON b.base_up = a.alias_raw          -- alias match on normalized base
      OR n.up_nopunct = a.alias_raw       -- fall back if punctuation is the only diff
  ),

  -- 5) Final shape: parent_club = senior name; cleaned_full_name keeps the senior name too
  shaped AS (
    SELECT
      raw_club,
      cleaned_full_name_up                                        AS cleaned_full_name,
      -- parent = senior club for youth/reserve, else self
      CASE WHEN is_youth_or_res THEN cleaned_full_name_up
           ELSE cleaned_full_name_up
      END                                                         AS parent_club,
      -- fallback abbreviation: strip common tokens then take first 3 letters of the squashed name
      CASE
        WHEN LENGTH(REGEXP_REPLACE(cleaned_full_name_up, '\b(FC|CF|SC|AC|AS|CD|UD|US|SD)\b', '', 'g')) >= 3
          THEN SUBSTR(REGEXP_REPLACE(cleaned_full_name_up, '\b(FC|CF|SC|AC|AS|CD|UD|US|SD)\b', '', 'g')
                       |> REGEXP_REPLACE('[^A-Z]', '', 'g')
                       , 1, 3)
        ELSE SUBSTR(REGEXP_REPLACE(cleaned_full_name_up, '[^A-Z]', '', 'g'), 1, 3)
      END                                                         AS abbreviation,
      COALESCE(ccm.country, 'Unknown')                            AS country
    FROM resolved r
    LEFT JOIN club_country_map ccm
      ON r.cleaned_full_name_up = ccm.cleaned_full_name
  )

  SELECT
    raw_club,
    cleaned_full_name,
    parent_club,
    abbreviation,
    country
  FROM shaped

) AS c;

SQL error: Catalog Error: Table with name clubs does not exist!
Did you mean "pg_class"?

In [73]:
%%ducksql
/*
"""
#------------------ ## OBJECTIVES ## ------------------#

~ ############### OTHER FILE  ###############~
 
 - To Do:
    - find unique values for '
        - 'position', 
        
    - find way to parse
        - 'position', 

################### DONE ##############################


/*
-- Accetpable values = {
    "MF": ["AM", "CM", "DM", "LM", "RM", "MF"], 
    "DF": [ "LB", "RB", "CB", "DF"],
    "AT": ["LW", "CF", "SS", "RW", "AT"]

    /*
Attacking Midfield
1	Central Midfield
2	Centre-Back
3	Centre-Forward
4	Defensive Midfield
5	Goalkeeper
6	Left Midfield
7	Left Winger
8	Left-Back
9	Right Midfield
10	Right Winger
11	Right-Back
12	Second Striker
13	attack < ====== vvvv these three are not in the other file
14	defence <
15	midfield <
 */   

}*/

"""
*/


WITH pos_map AS (
  SELECT *
  FROM (
    VALUES
      -- Full names → (abbr, section)
      ('ATTACKING MIDFIELD', 'AM', 'MIDFIELD'),
      ('CENTRAL MIDFIELD',   'CM', 'MIDFIELD'),
      ('DEFENSIVE MIDFIELD', 'DM', 'MIDFIELD'),
      ('LEFT MIDFIELD',      'LM', 'MIDFIELD'),
      ('RIGHT MIDFIELD',     'RM', 'MIDFIELD'),

      ('CENTRE-BACK',        'CB', 'DEFENCE'),
      ('LEFT-BACK',          'LB', 'DEFENCE'),
      ('RIGHT-BACK',         'RB', 'DEFENCE'),

      ('LEFT WINGER',        'LW', 'ATTACK'),
      ('RIGHT WINGER',       'RW', 'ATTACK'),
      ('CENTRE-FORWARD',     'CF', 'ATTACK'),
      ('SECOND STRIKER',     'SS', 'ATTACK'),

      ('GOALKEEPER',         'GK', 'GOALKEEPER'),

      -- Umbrella labels appearing in raw
      ('ATTACK',             'AT', 'ATTACK'),
      ('DEFENCE',            'DF', 'DEFENCE'),
      ('MIDFIELD',           'MF', 'MIDFIELD'),

      -- Abbreviations as keys too (so join works if raw stores abbrs)
      ('AM', 'AM', 'MIDFIELD'),
      ('CM', 'CM', 'MIDFIELD'),
      ('DM', 'DM', 'MIDFIELD'),
      ('LM', 'LM', 'MIDFIELD'),
      ('RM', 'RM', 'MIDFIELD'),
      ('MF', 'MF', 'MIDFIELD'),

      ('LB', 'LB', 'DEFENCE'),
      ('RB', 'RB', 'DEFENCE'),
      ('CB', 'CB', 'DEFENCE'),
      ('DF', 'DF', 'DEFENCE'),

      ('LW', 'LW', 'ATTACK'),
      ('CF', 'CF', 'ATTACK'),
      ('SS', 'SS', 'ATTACK'),
      ('RW', 'RW', 'ATTACK'),
      ('AT', 'AT', 'ATTACK'),

      ('GK', 'GK', 'GOALKEEPER')
  ) AS t(position, abbreviation, section)
)

SELECT
    DISTINCT of.position,
    m.abbreviation,
    m.section
FROM staging.other_file_transfers_all AS of
LEFT JOIN pos_map AS m
  ON UPPER(TRIM(of.position)) = m.position;

              position abbreviation     section
0              defence           DF     DEFENCE
1   Attacking Midfield           AM    MIDFIELD
2       Right Midfield           RM    MIDFIELD
3           Goalkeeper           GK  GOALKEEPER
4     Central Midfield           CM    MIDFIELD
5            Left-Back           LB     DEFENCE
6   Defensive Midfield           DM    MIDFIELD
7        Left Midfield           LM    MIDFIELD
8          Centre-Back           CB     DEFENCE
9       Centre-Forward           CF      ATTACK
10              attack           AT      ATTACK
11         Left Winger           LW      ATTACK
12          Right-Back           RB     DEFENCE
13        Right Winger           RW      ATTACK
14            midfield           MF    MIDFIELD
15      Second Striker           SS      ATTACK

In [62]:
%%ducksql

SELECT  
     Position "Position", COUNT(*) "Position Count"
FROM 
    staging.other_file_transfers_all 
WHERE 
    Position IN ['attack','defence', 'midfield']
GROUP BY
    Position
ORDER BY
    Position ASC
LIMIT 50;

   Position  Position Count
0    attack             243
1   defence             255
2  midfield             393

In [42]:
%%ducksql
-- Longest-prefix country match via left joins (prints rows reliably)
WITH countries_list(country_name) AS (
  SELECT * FROM (VALUES
    ('Antigua and Barbuda'), ('DR Congo'), ('Costa Rica'), ('Cote d''Ivoire'),
    ('Czech Republic'), ('United States'), ('St. Lucia'), ('St. Kitts & Nevis'),
    ('Guinea-Bissau'), ('Northern Ireland'), ('The Gambia'), ('Cape Verde'),
    ('Isle of Man'), ('North Macedonia')
  )
),
clist AS (
  SELECT
    LOWER(TRIM(REGEXP_REPLACE(country_name, '\s+', ' '))) AS key_name,
    country_name
  FROM countries_list
),
base AS (
  SELECT
    nationality,
    LOWER(TRIM(REGEXP_REPLACE(COALESCE(nationality,''), '\s+', ' '))) AS nat_l
  FROM staging.transfers_all
),
pref AS (
  SELECT
    nationality,
    -- word prefixes (1..4)
    array_to_string(array_slice(str_split(nat_l, ' '), 0, 4), ' ') AS p4,
    array_to_string(array_slice(str_split(nat_l, ' '), 0, 3), ' ') AS p3,
    array_to_string(array_slice(str_split(nat_l, ' '), 0, 2), ' ') AS p2,
    array_to_string(array_slice(str_split(nat_l, ' '), 0, 1), ' ') AS p1
  FROM base
),
sorted AS (
    SELECT
  -- p.nationality,
  LOWER(COALESCE(c4.country_name, c3.country_name, c2.country_name, p.p1)) AS final_country
FROM pref p
LEFT JOIN clist c4 ON p.p4 = c4.key_name
LEFT JOIN clist c3 ON p.p3 = c3.key_name
LEFT JOIN clist c2 ON p.p2 = c2.key_name
ORDER BY p.nationality ASC
)
SELECT 
    DISTINCT final_country 
FROM
    sorted
ORDER BY
    final_country ASC;

          final_country
0               albania
1               algeria
2                angola
3   antigua and barbuda
4             argentina
5             australia
6               austria
7               belgium
8    bosnia-herzegovina
9                brazil
10              burkina
11             cameroon
12               canada
13                chile
14             colombia
15           costa rica
16        cote d'ivoire
17              croatia
18              curacao
19       czech republic
20              denmark
21             dr congo
22              ecuador
23              england
24              finland
25               france
26                gabon
27              germany
28                ghana
29               greece
30               guinea
31        guinea-bissau
32                haiti
33              hungary
34              iceland
35                 iraq
36              ireland
37               israel
38                italy
39              jamaica
40                japan
41               korea,
42                 mali
43               mexico
44           montenegro
45           montserrat
46              morocco
47          netherlands
48                  new
49              nigeria
50      north macedonia
51     northern ireland
52               norway
53             paraguay
54               poland
55             portugal
56              romania
57             scotland
58              senegal
59               serbia
60                spain
61               sweden
62          switzerland
63                syria
64           the gambia
65              tunisia
66              türkiye
67              ukraine
68        united states
69              uruguay
70            venezuela
71                wales
72             zimbabwe

In [17]:
%%ducksql

/*
"""
#------------------ ## OBJECTIVES ## ------------------#
 - To Do:
    - parse unique values for "nationality"


    # Nations with spaces list:
        Antigua and Barbuda
        DR Congo
        Costa Rica
        Cote d'Ivoire
        Czech Republic
        United States
        St. Lucia
        St. Kitts & Nevis
        Guinea-Bissau
        Northern Ireland
        The Gambia
        Cape Verde
        Isle of Man
        North Macedonia

"""
*/

WITH countries_list(country_name) AS (
  SELECT * FROM (VALUES
    ('Antigua and Barbuda'), ('DR Congo'), ('Costa Rica'), ('Cote d''Ivoire'),
    ('Czech Republic'), ('United States'), ('St. Lucia'), ('St. Kitts & Nevis'),
    ('Guinea-Bissau'), ('Northern Ireland'), ('The Gambia'), ('Cape Verde'),
    ('Isle of Man'), ('North Macedonia')
  )
),
base AS (
  SELECT
    nationality,
    TRIM(REGEXP_REPLACE(
      REGEXP_REPLACE(
        LOWER(REGEXP_REPLACE(COALESCE(nationality,''), '[\u00A0\u2000-\u200F\u202A-\u202E\u2060-\u2069\uFEFF]', '')),
        '\s+', ' '
      ),
      ' +', ' '
    )) AS nat_l
  FROM staging.transfers_all
),
tok AS (
  SELECT
    nationality,
    nat_l,
    str_split(nat_l, ' ') AS words
  FROM base
),
prefixes AS (
  SELECT
    t.nationality,
    array_to_string(array_slice(t.words, 0, n.n), ' ') AS prefix
  FROM tok t
  JOIN range(1, 5) AS n(n)          -- prefixes of 1..4 words
),
clist AS (
  SELECT
    LOWER(TRIM(REGEXP_REPLACE(country_name, '\s+', ' '))) AS key_name,
    country_name
  FROM countries_list
),
matches AS (
  SELECT
    p.nationality,
    c.country_name,
    row_number() OVER (PARTITION BY p.nationality ORDER BY length(c.country_name) DESC) AS rn
  FROM prefixes p
  JOIN clist c ON p.prefix = c.key_name
)
SELECT
  b.nationality,
  coalesce(
    (SELECT m.country_name FROM matches m WHERE m.nationality = b.nationality AND m.rn = 1),
    array_to_string(array_slice(str_split(b.nat_l, ' '), 0, 1), ' ')
  ) AS final_country
FROM base b
LIMIT 50;

SQL error: Parser Error: syntax error at or near ")"

In [135]:
%%ducksql

/*
"""
#------------------ ## OBJECTIVES ## ------------------#
 - To Do:
    - parse unique values for "player_name"
"""
*/

SELECT DISTINCT player_name
FROM staging.transfers_all
ORDER BY player_name ASC

                   player_name
0               Aaron Connolly
1                 Aaron Ramsey
2                Abdallah Sima
3            Abdul Rahman Baba
4                 Adam Wharton
5                 Adama Traoré
6               Admiral Muskwe
7                Adnan Kanuric
8       Ainsley Maitland-Niles
9         Albert Sambi Lokonga
10                 Alejo Veliz
11         Aleksandar Mitrović
12                  Alex Iwobi
13                Alex Mighten
14     Alex Oxlade-Chamberlain
15                  Alex Scott
16                 Alex Telles
17         Alexis Mac Allister
18             Alfie Gilchrist
19              Allan Campbell
20         Allan Saint-Maximin
21              Altay Bayındır
22               Anass Zaroury
23                 Andi Zeqiri
24                Andre Brooks
25               Andrew Irving
26          Andrew Omobamidele
27               Andrey Santos
28             Andros Townsend
29                  André Ayew
30                 André Gomes
31                 André Onana
32                Anis Slimane
33                   Ansu Fati
34              Anthony Elanga
35           Anthony Knockaert
36               Aribim Pepple
37               Armando Broja
38              Arnaut Danjuma
39              Arthur Masuaku
40                 Arthur Melo
41              Arthur Okonkwo
42               Ashley Barnes
43             Ashley Phillips
44                Ashley Young
45               Asmir Begovic
46               Auston Trusty
47                 Axel Disasi
48               Axel Tuanzebe
49             Aymeric Laporte
50      Bailey Peacock-Farrell
51             Bart Verbruggen
52           Ben Brereton Díaz
53                    Ben Doak
54                 Ben Pearson
55              Bendegúz Bolla
56              Benjamin Mendy
57             Bertrand Traoré
58                        Beto
59               Billy Crellin
60                 Billy Sharp
61                Bobby Thomas
62             Boubacar Traoré
63                Braian Ojeda
64            Brandon Aguilera
65            Brandon Williams
66             Brennan Johnson
67                Bruno Jordão
68                   Bryan Gil
69                Bénie Traoré
70               CJ Egan-Riley
71                        Cafú
72          Callum Hudson-Odoi
73               Calvin Bassey
74              Cameron Archer
75              Carl Rushworth
76               Carlos Baleba
77               Carlos Mendes
78             Carlos Vinícius
79              Cesare Casadei
80               Charlie Goode
81               Chem Campbell
82            Chiedozie Ogbene
83                   Chiquinho
84                  Chris Wood
85           Christian Pulisic
86            Christian Saydee
87          Christopher Nkunku
88                Ciaran Clark
89           Claudio Echeverri
90             Clément Lenglet
91                 Cole Palmer
92              Connor Roberts
93               Conor Bradley
94                 Conor Coady
95              Conor Coventry
96               Cédric Soares
97           César Azpilicueta
98              Daiki Hashioka
99               Dane Scarlett
100               Daniel Muñoz
101             Daniel Podence
102             Dara Costelloe
103                Dara O'Shea
104            Darko Churlinov
105               David Brooks
106         David Datro Fofana
107                 David Raya
108               David de Gea
109           Davinson Sánchez
110             Dean Henderson
111                Declan Rice
112          Deivid Washington
113           Dejan Kulusevski
114                  Dele Alli
115               Demarai Gray
116              Denis Franchi
117              Denis Zakaria
118                Deniz Undav
119             Destiny Udogie
120                Diego Costa
121              Diego Moreira
122               Dion Pereira
123               Divin Mubama
124               Divock Origi
125                Djed Spence
126           Djordje Petrovic
127         Dominik Szoboszlai
128          Donny van de Beek
129              Edouard Mendy
130              Edson Álvarez
131              Elliot Thorpe
132                Ellis Simms
133         Emiliano Marcondes
134            Emmanuel Dennis
135               Enda Stevens
136                  Enes Ünal
137              Enso González
138                Eric Bailly
139                  Eric Dier
140               Ethan Ampadu
141              Ethan Horvath
142                    Fabinho
143          Facundo Pellistri
144                Femi Seriki
145            Filip Marschall
146                Fin Stevens
147               Flynn Downes
148           Fodé Ballo-Touré
149            Folarin Balogun
150                       Fred
151             Fred Onyedinma
152             Fábio Carvalho
153                Fábio Silva
154            Gabriel Slonina
155             Gavin Kilkenny
156          Gianluca Scamacca
157           Giovani Lo Celso
158             Giovanni Reyna
159           Giulian Biancone
160                   Glen Rea
161            Gonzalo Montiel
162             Gonçalo Guedes
163               Granit Xhaka
164          Guglielmo Vicario
165              Gustavo Hamer
166             Gustavo Scarpa
167               Hakim Ziyech
168           Halil Dervişoğlu
169               Hamed Traoré
170          Han-Noah Massengo
171            Hannes Delcroix
172                   Hannibal
173             Harrison Ashby
174                Harry Isted
175                 Harry Kane
176                Harry Winks
177              Harvey Barnes
178               Hayao Kawabe
179             Haydon Roberts
180             Henri Lansbury
181                Hugo Lloris
182         Hákon Valdimarsson
183                Ian Maatsen
184            Ibrahim Sangaré
185                 Igor Julio
186              Iliman Ndiaye
187                 Ionuț Radu
188               Isaac Hayden
189          Ismaila Coulibaly
190                Issa Kaboré
191             Ivan Cavaleiro
192               Ivan Perišić
193                  Ivo Grbic
194               Jack Butland
195               Jack Colback
196              Jack Harrison
197           Jack Hinshelwood
198             Jack O'Connell
199                Jack Stacey
200                Jack Walton
201                Jacob Brown
202         Jacob Bruun Larsen
203            Jaden Philogene
204               Jadon Sancho
205             Jaidon Anthony
206              Jake Eastwood
207                Jamal Lewis
208                 Jamal Lowe
209                 James Hill
210             James Maddison
211             James McArthur
212               James McAtee
213               James Milner
214             James Trafford
215          James Ward-Prowse
216            Japhet Tanganga
217             Jarell Quansah
218         Jarrad Branthwaite
219           Javier Manquillo
220             Jay Stansfield
221       Jean-Philippe Gbamin
222     Jean-Ricner Bellegarde
223                  Jed Steer
224              Jeff Hendrick
225            Jefferson Lerma
226                Jensen Weir
227           Jeremy Sarmiento
228              Jesse Lingard
229                  Joe Bryan
230                  Joe Gauci
231                  Joe Hodge
232                  Joe Rodon
233               Joe Rothwell
234                 Joe Taylor
235                  Joe White
236                Joe Worrall
237              Joel Valencia
238                 John Fleck
239                John McAtee
240             Jonathan Panzo
241              Jonjo Shelvey
242                Jonny Evans
243                 Jonny Otto
244               Jordan Beyer
245           Jordan Henderson
246               Jordan Smith
247              Jordan Zemura
248                Josh Bowler
249        Josh Wilson-Esbrand
250             Josko Gvardiol
251               João Cancelo
252                 João Félix
253              João Moutinho
254                 João Pedro
255              João Virgínia
256           Junior Stanislas
257             Jurriën Timber
258            Justin Kluivert
259                Jérémy Doku
260                Kai Havertz
261        Kaine Kesler-Hayden
262          Kalidou Koulibaly
263            Kalvin Phillips
264                Karl Darlow
265               Keinan Davis
266                 Kell Watts
267          Kepa Arrizabalaga
268                Kevin Mbabu
269               Kevin Schade
270               Keylor Navas
271             Ki-Jana Hoever
272              Kieffer Moore
273             Kieran Tierney
274             Kjell Scherpen
275    Konstantinos Mavropanos
276          Kosta Nedeljkovic
277               Kyron Gordon
278         Lawrence Vigouroux
279             Layvin Kurzawa
280         Leander Dendoncker
281           Lesley Ugochukwu
282               Lewis Dobbin
283                 Lewis Hall
284                Lewis Miley
285              Lewis O'Brien
286            Lorenz Assignon
287               Louie Watson
288               Loïc Mbe Soh
289              Luca Koleosho
290            Lucas Bergström
291                Lucas Moura
292            Luis Sinisterra
293           Luka Milivojevic
294                Luke Cundle
295               Luke Freeman
296               Luke McNally
297                Luke Plange
298                Luke Thomas
299                Lyle Taylor
300              Mads Andersen
301         Mads Bech Sørensen
302              Mads Bidstrup
303             Mahmoud Dahoud
304                Malang Sarr
305            Malcolm Ebiowei
306                 Malo Gusto
307              Manor Solomon
308             Manuel Lanzini
309               Marc Leonard
310            Marcel Sabitzer
311           Marcelo Pitaluga
312               Mark Flekken
313               Mark Travers
314                 Marquinhos
315          Marvelous Nakamba
316            Mason Greenwood
317              Mason Holgate
318                Mason Mount
319                Matej Kovar
320              Mateo Kovacic
321              Matheus Cunha
322             Matheus França
323              Matheus Nunes
324              Matija Sarkic
325               Matt Doherty
326                 Matt Macey
327                Matt Turner
328                Matthew Cox
329             Matthew Lowton
330            Matty Longstaff
331                  Matz Sels
332                Matías Viña
333                 Max Aarons
334              Maxime Estève
335            Michael Obafemi
336           Michal Karbownik
337           Micky van de Ven
338                Mike Tresor
339               Milos Kerkez
340             Mohamed Dräger
341             Mohammed Kudus
342                 Moise Kean
343             Moisés Caicedo
344              Morgan Rogers
345              Morgan Sanson
346               Moussa Diaby
347                    Murillo
348         Myles Peart-Harris
349             Máximo Perrone
350               N'Golo Kanté
351                 Naby Keïta
352              Nahuel Bustos
353               Nat Phillips
354             Nathan Collins
355              Nathan Fraser
356             Nathan Redmond
357                Neal Maupay
358            Neeskens Kebano
359            Nicolas Jackson
360               Nicolas Pépé
361          Nicolás Domínguez
362             Nicolò Zaniolo
363             Niels Nkounkou
364              Nikola Vlašić
365                Noha Lemina
366               Nuno Tavares
367       Odysseas Vlachodimos
368                   Ola Aina
369           Oliver Arblaster
370              Omar Richards
371               Omari Forson
372           Omari Hutchinson
373               Orel Mangala
374                 Oscar Bobb
375               Owen Dodgson
376              Pablo Fornals
377                 Pablo Marí
378              Paris Maghoma
379                 Pau Torres
380            Paulo Gazzaniga
381                Pedro Porro
382                 Phil Jones
383          Philippe Coutinho
384  Pierre-Emerick Aubameyang
385             Pontus Jansson
386              Radu Drăgușin
387             Rasmus Højlund
388               Raúl Jiménez
389                Reda Khadra
390               Remo Freuler
391                 Renan Lodi
392              Rhys Williams
393              Richie Laryea
394               Riyad Mahrez
395                Rob Holding
396             Robert Sánchez
397            Roberto Firmino
398            Rodrigo Ribeiro
399              Romain Faivre
400              Romelu Lukaku
401                Roméo Lavia
402               Ross Barkley
403         Ruben Loftus-Cheek
404                Ryan Fraser
405                 Ryan Giles
406           Ryan Gravenberch
407               Ryan Trevitt
408                Rúben Neves
409              Rúben Vinagre
410       Rúnar Alex Rúnarsson
411               Sam Surridge
412             Samuel Bastien
413               Sander Berge
414              Sandro Tonali
415             Santiago Bueno
416             Sasa Kalajdzic
417              Saïd Benrahma
418                Scott Banks
419              Scott McKenna
420                Scott Twine
421          Sepp van den Berg
422               Serge Aurier
423                Sergi Canós
424            Sergio Reguilón
425                Shane Duffy
426              Simon Adingra
427             Siriki Dembélé
428             Slobodan Tedic
429             Sofyan Amrabat
430              Sonny Bradley
431                 Steve Cook
432              Steven Alzate
433               Steven Benda
434           Steven Sessegnon
435               Tahith Chong
436            Tanguy Ndombélé
437                Tariqe Fosu
438            Tawanda Chirewa
439      Taylor Harwood-Bellis
440            Taylor Richards
441                Teden Mengi
442            Terence Kongolo
443               Thilo Kehrer
444            Thomas Kaminski
445           Tiemoué Bakayoko
446                   Tim Krul
447                Timo Werner
448           Timothy Castagne
449            Tino Livramento
450                 Tom Cannon
451                 Tom Davies
452                 Tom Holmes
453                   Tom King
454                Tommy Doyle
455                Tyler Adams
456            Tyrese Francois
457                Ui-jo Hwang
458             Valentín Barco
459             Vicente Guaita
460           Viljami Sinisalo
461                 Vini Souza
462            Vitezslav Jaros
463                Wataru Endo
464              Wesley Moraes
465              Wilfried Zaha
466                Will Dennis
467                Will Norris
468             Willy Kambwala
469             Wilson Odobert
470              Wout Weghorst
471             Yangel Herrera
472             Yankuba Minteh
473                Yasin Ayari
474             Yasser Larouci
475            Yegor Yarmolyuk
476                 Yerry Mina
477            Yerson Mosquera
478            Youri Tielemans
479           Youssef Chermiti
480                Yunus Konak
481               Zack Steffen
482               Zeki Amdouni
483               Zidane Iqbal
484            Álvaro Carreras
485                     Ângelo
486             İlkay Gündoğan

In [84]:
%%ducksql

/*
"""
#------------------ ## OBJECTIVES ## ------------------#
 - To Do:
    - parse fee to "transfer_type"
        - -- 2 Point directly at your file [absolute path]

                ##################
                ###### DONE ######
                ##################
                    
"""
*/

SELECT 
    fee,
    CASE
        WHEN fee IS NULL OR fee = '' THEN ''
        WHEN LOWER(fee) LIKE '%loan%' THEN 'Loan'
        ELSE 'Transfer'
    END AS transfer_type_two
FROM 
    staging.transfers_all LIMIT 50;

                       Fee transfer_type_two
0                 €116.60m          Transfer
1                  €75.00m          Transfer
2                  €40.00m          Transfer
3         Loan fee: €3.50m              Loan
4   End of loan 30.06.2023              Loan
5   End of loan 30.06.2023              Loan
6   End of loan 30.06.2023              Loan
7   End of loan 30.06.2023              Loan
8   End of loan 30.06.2023              Loan
9   End of loan 31.05.2024              Loan
10  End of loan 31.05.2024              Loan
11  End of loan 30.06.2023              Loan
12  End of loan 30.06.2023              Loan
13                 €30.00m          Transfer
14                 €15.00m          Transfer
15                  €8.15m          Transfer
16                  €6.20m          Transfer
17                  €5.80m          Transfer
18        Loan fee: €1.40m              Loan
19                  €1.20m          Transfer
20        Loan fee: €1.15m              Loan
21         Loan fee: €300k              Loan
22           free transfer          Transfer
23           free transfer          Transfer
24           loan transfer              Loan
25           loan transfer              Loan
26           loan transfer              Loan
27                 €55.00m          Transfer
28                 €33.00m          Transfer
29        Loan fee: €5.00m              Loan
30           free transfer          Transfer
31                       -          Transfer
32           loan transfer              Loan
33  End of loan 31.05.2024              Loan
34  End of loan 30.06.2023              Loan
35  End of loan 31.05.2024              Loan
36  End of loan 30.06.2023              Loan
37                 €21.55m          Transfer
38                  €5.80m          Transfer
39                  €2.90m          Transfer
40                  €2.30m          Transfer
41           free transfer          Transfer
42           free transfer          Transfer
43           loan transfer              Loan
44           loan transfer              Loan
45           loan transfer              Loan
46                       -          Transfer
47                 €26.90m          Transfer
48                 €25.62m          Transfer
49                 €23.00m          Transfer

In [93]:
%%ducksql

/*
"""
#------------------ ## OBJECTIVES ## ------------------#
 - To Do:
    - parse fee value to million decimal point
                ##################
                ###### DONE ######
                ##################       
"""

*/

WITH src AS (
  SELECT
    fee,
    LOWER(COALESCE(fee, '')) AS fee_l
  FROM staging.transfers_all
),
parsed AS (
  SELECT
    fee,
    fee_l,

    /* numeric in MILLIONS */
    CASE
      WHEN fee_l LIKE '%free transfer%' THEN 0.0

      /* '?' or '-' but only when no unit appears */
      WHEN (fee_l LIKE '%?%' OR fee_l LIKE '%-%')
           AND NOT REGEXP_MATCHES(fee_l, '€?\s*[0-9]+(?:[\.,][0-9]+)?\s*(m|k|th\.?)\b')
        THEN NULL

      /* millions: number followed by 'm' (euro/signs/words can be anywhere) */
      WHEN REGEXP_MATCHES(fee_l, '€?\s*[0-9]+(?:[\.,][0-9]+)?\s*m\b') THEN
        CAST(
          REPLACE(
            REGEXP_EXTRACT(fee_l, '€?\s*([0-9]+(?:[\.,][0-9]+)?)\s*m\b', 1),
            ',', '.'
          ) AS DOUBLE
        )

      /* thousands: number followed by 'k' or 'th' -> convert to millions */
      WHEN REGEXP_MATCHES(fee_l, '€?\s*[0-9]+(?:[\.,][0-9]+)?\s*(k|th\.?)\b') THEN
        CAST(
          REPLACE(
            REGEXP_EXTRACT(fee_l, '€?\s*([0-9]+(?:[\.,][0-9]+)?)\s*(?:k|th\.?)\b', 1),
            ',', '.'
          ) AS DOUBLE
        ) / 1000.0

      ELSE NULL
    END AS fee_millions,

    /* reason */
    CASE
      WHEN fee_l LIKE '%free transfer%' THEN 'Free Transfer'
      WHEN (fee_l LIKE '%?%' OR fee_l LIKE '%-%')
           AND NOT REGEXP_MATCHES(fee_l, '€?\s*[0-9]+(?:[\.,][0-9]+)?\s*(m|k|th\.?)\b')
        THEN 'Unknown'
      WHEN REGEXP_MATCHES(fee_l, '€?\s*[0-9]+(?:[\.,][0-9]+)?\s*m\b') THEN 'Millions'
      WHEN REGEXP_MATCHES(fee_l, '€?\s*[0-9]+(?:[\.,][0-9]+)?\s*(k|th\.?)\b') THEN 'Thousands→Millions'
      ELSE 'Dunno'
    END AS reason
  FROM src
)
SELECT fee, fee_millions, reason
FROM parsed
LIMIT 100;

                       Fee  fee_millions              reason
0                 €116.60m        116.60            Millions
1                  €75.00m         75.00            Millions
2                  €40.00m         40.00            Millions
3         Loan fee: €3.50m          3.50            Millions
4   End of loan 30.06.2023           NaN               Dunno
5   End of loan 30.06.2023           NaN               Dunno
6   End of loan 30.06.2023           NaN               Dunno
7   End of loan 30.06.2023           NaN               Dunno
8   End of loan 30.06.2023           NaN               Dunno
9   End of loan 31.05.2024           NaN               Dunno
10  End of loan 31.05.2024           NaN               Dunno
11  End of loan 30.06.2023           NaN               Dunno
12  End of loan 30.06.2023           NaN               Dunno
13                 €30.00m         30.00            Millions
14                 €15.00m         15.00            Millions
15                  €8.15m          8.15            Millions
16                  €6.20m          6.20            Millions
17                  €5.80m          5.80            Millions
18        Loan fee: €1.40m          1.40            Millions
19                  €1.20m          1.20            Millions
20        Loan fee: €1.15m          1.15            Millions
21         Loan fee: €300k          0.30  Thousands→Millions
22           free transfer          0.00       Free Transfer
23           free transfer          0.00       Free Transfer
24           loan transfer           NaN               Dunno
25           loan transfer           NaN               Dunno
26           loan transfer           NaN               Dunno
27                 €55.00m         55.00            Millions
28                 €33.00m         33.00            Millions
29        Loan fee: €5.00m          5.00            Millions
30           free transfer          0.00       Free Transfer
31                       -           NaN             Unknown
32           loan transfer           NaN               Dunno
33  End of loan 31.05.2024           NaN               Dunno
34  End of loan 30.06.2023           NaN               Dunno
35  End of loan 31.05.2024           NaN               Dunno
36  End of loan 30.06.2023           NaN               Dunno
37                 €21.55m         21.55            Millions
38                  €5.80m          5.80            Millions
39                  €2.90m          2.90            Millions
40                  €2.30m          2.30            Millions
41           free transfer          0.00       Free Transfer
42           free transfer          0.00       Free Transfer
43           loan transfer           NaN               Dunno
44           loan transfer           NaN               Dunno
45           loan transfer           NaN               Dunno
46                       -           NaN             Unknown
47                 €26.90m         26.90            Millions
48                 €25.62m         25.62            Millions
49                 €23.00m         23.00            Millions
50                 €20.47m         20.47            Millions
51                 €15.00m         15.00            Millions
52                 €10.80m         10.80            Millions
53                  €8.10m          8.10            Millions
54           loan transfer           NaN               Dunno
55           loan transfer           NaN               Dunno
56  End of loan 31.05.2024           NaN               Dunno
57  End of loan 31.05.2024           NaN               Dunno
58  End of loan 31.05.2024           NaN               Dunno
59  End of loan 31.05.2024           NaN               Dunno
60  End of loan 30.06.2023           NaN               Dunno
61  End of loan 31.05.2024           NaN               Dunno
62  End of loan 27.10.2023           NaN               Dunno
63  End of loan 31.05.2024           NaN               Dunno
64  End of loan 30.06.2023           NaN               Dunno
65  End of loan 30.06.2023           NaN               Dunno
66  End of loan 30.06.2023           NaN               Dunno
67                  €1.50m          1.50            Millions
68           free transfer          0.00       Free Transfer
69           free transfer          0.00       Free Transfer
70           free transfer          0.00       Free Transfer
71                       ?           NaN             Unknown
72                       ?           NaN             Unknown
73           loan transfer           NaN               Dunno
74           loan transfer           NaN               Dunno
75           loan transfer           NaN               Dunno
76           loan transfer           NaN               Dunno
77           loan transfer           NaN               Dunno
78           loan transfer           NaN               Dunno
79                       -           NaN             Unknown
80  End of loan 30.06.2023           NaN               Dunno
81  End of loan 30.06.2023           NaN               Dunno
82                 €26.85m         26.85            Millions
83                 €25.00m         25.00            Millions
84                 €13.00m         13.00            Millions
85           loan transfer           NaN               Dunno
86                       -           NaN             Unknown
87                       -           NaN             Unknown
88  End of loan 31.05.2024           NaN               Dunno
89  End of loan 30.06.2023           NaN               Dunno
90  End of loan 31.05.2024           NaN               Dunno
91  End of loan 31.05.2024           NaN               Dunno
92  End of loan 31.05.2024           NaN               Dunno
93  End of loan 31.05.2024           NaN               Dunno
94  End of loan 30.06.2023           NaN               Dunno
95  End of loan 30.06.2023           NaN               Dunno
96  End of loan 30.06.2023           NaN               Dunno
97                  €6.00m          6.00            Millions
98        Loan fee: €3.50m          3.50            Millions
99                   €500k          0.50  Thousands→Millions

In [126]:
%%ducksql
/*
"""
----------------- ## OBJECTIVES ## ------------------
 - To Do:
    - find unique values for:
        -"club_name" <--------
        - "player_name",
        - "nationality",
        - "position"
        -"club_involved_name"
        -"club_involved_country"
"""
*/


WITH norm AS (
  SELECT
    club_name,
    -- remove NBSP, ZWSP/ZWNJ/ZWJ, LRM/RLM, BOM, isolates
    REGEXP_REPLACE(
      club_name,
      '[\u00A0\u2000-\u200F\u202A-\u202E\u2060-\u2069\uFEFF]',
      ''
    ) AS s0
  FROM staging.transfers_all
),
clean AS (
  SELECT
    club_name,
    TRIM(REGEXP_REPLACE(s0, '\s+', ' ')) AS club_name_trimmed,
    LOWER(TRIM(REGEXP_REPLACE(
      REGEXP_REPLACE(s0, '[^a-zA-Z0-9 ]+', ' '),
      '\s+', ' '
    ))) AS club_key
  FROM norm
)
SELECT DISTINCT club_name_trimmed
FROM clean
ORDER BY club_name_trimmed;

          club_name_trimmed
0           AFC Bournemouth
1                   Arsenal
2               Aston Villa
3               Bournemouth
4                 Brentford
5    Brighton & Hove Albion
6                   Burnley
7                   Chelsea
8            Crystal Palace
9                   Everton
10                   Fulham
11                Liverpool
12               Luton Town
13          Manchester City
14        Manchester United
15         Newcastle United
16        Nottingham Forest
17         Sheffield United
18                Tottenham
19        Tottenham Hotspur
20          West Ham United
21  Wolverhampton Wanderers
22  Wovlerhampton Wanderers

In [129]:
from pathlib import Path
import duckdb
import pandas as pd

""
----------------- ## OBJECTIVES ## ------------------
 - To Do:
    - find unique values for:
        -"club_name" <--------
            - writes these clubs to a file

"""

# 1) Where to write the seed
SEED_DIR = Path("./dbt/seeds")
SEED_DIR.mkdir(parents=True, exist_ok=True)
OUT = (SEED_DIR / "fpl_2425_clubs.csv").as_posix()

# 2) Build canonical club table for 24/25
con.execute(r"""
CREATE OR REPLACE TEMP VIEW final_fpl_2425_clubs AS
WITH base AS (
  SELECT club_name
  FROM staging.transfers_all
  WHERE LOWER(COALESCE(season,'')) IN ('2023/2024','23/24')
),
norm AS (
  SELECT
    club_name,
    REGEXP_REPLACE(
      club_name,
      '[\u00A0\u2000-\u200F\u202A-\u202E\u2060-\u2069\uFEFF]',
      ''
    ) AS s0
  FROM base
),
clean AS (
  SELECT
    TRIM(REGEXP_REPLACE(s0, '\s+', ' ')) AS club_name_canonical,
    TRIM(
      REGEXP_REPLACE(
        REGEXP_REPLACE(LOWER(s0), '[^a-z0-9 ]+', ' '),
        '\s+', ' '
      )
    ) AS club_key
  FROM norm
)
SELECT
  MIN(club_name_canonical) AS club_name,
  club_key
FROM clean
GROUP BY club_key
ORDER BY club_name;
""")

# 3) Fetch and display result to verify
df = con.sql("SELECT * FROM final_fpl_2425_clubs;").df()
print(f"\nPreview ({len(df)} rows):")
display(df.head(30))  # shows first 30 clubs

# 4) Write only if data is present
if df.empty:
    print("⚠️ No rows returned — check your season filter or source table.")
else:
    con.execute(f"""
    COPY (SELECT * FROM final_fpl_2425_clubs)
    TO '{OUT}'
    (HEADER, DELIMITER ',');
    """)
    print(f"✅ Wrote {len(df)} rows to {OUT}")

Preview (23 rows):

                  club_name                 club_key
0           AFC Bournemouth          afc bournemouth
1                   Arsenal                  arsenal
2               Aston Villa              aston villa
3               Bournemouth              bournemouth
4                 Brentford                brentford
5    Brighton & Hove Albion     brighton hove albion
6                   Burnley                  burnley
7                   Chelsea                  chelsea
8            Crystal Palace           crystal palace
9                   Everton                  everton
10                   Fulham                   fulham
11                Liverpool                liverpool
12               Luton Town               luton town
13          Manchester City          manchester city
14        Manchester United        manchester united
15         Newcastle United         newcastle united
16        Nottingham Forest        nottingham forest
17         Sheffield United         sheffield united
18                Tottenham                tottenham
19        Tottenham Hotspur        tottenham hotspur
20          West Ham United          west ham united
21  Wolverhampton Wanderers  wolverhampton wanderers
22  Wovlerhampton Wanderers  wovlerhampton wanderers

✅ Wrote 23 rows to dbt/seeds/fpl_2425_clubs.csv